:root {
    --blue1: #2449d1;
    --white1: #E0E0E0;
    --black: #000000;
    --white: #ffffff;
    --grey: #3b3d45;
    --red1: #ff0000;
    --yellow1: #ffff00;
    --green1: #32a852;
}
body {
    margin:0;
    padding:0;
    height:100%;
    text-align: center;
    background-color: var(--black);
    color :var(--white1);
    font-family: 'Fira Code', monospace;
    line-height: 1.5
} 

