body {
    background-color: #111111;
    color: #E0E0E0;
    font-family: 'Fira Code', monospace;
    line-height: 1.5;
    margin: 2rem;
}

a {
    color: #00FFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #00FF00;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
